.contactBar {
  display: block;
}

.navLink{
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}

.navLink:hover::after{
  width: 100%;
}

.navLink::after {
  content: '';
  width: 0px;
  height: 3px;
  display: block;
  background: red;
  transition: 200ms;
}
