.home{
  background-color: pink;
}

.welcomeText{
  display: block;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
}

.welcomeText h1 {
  font-size: 60px;
}

.welcomeText h2 {
  margin-left: 10%;
  font-size: 40px;
}
