h1{
  font-size: 70px;
  text-align: center;
  margin-bottom: 0;
}

h2{
  font-size: 40px;
  text-align: end;
}

button{
  transition-duration: 0.4s;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 2px solid #8299F2;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

button:hover {
  background-color: #8299F2;
  color: white;
}

.home{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 750px;
}

.welcomeText{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.buttonContainer{
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
